{% if showMore is defined %}
<a href="{{ url('mautic_point_index', {'search': searchString}) }}" data-toggle="ajax">
  <span>{{ 'mautic.core.search.more'|trans({'%count%': remaining}) }}</span>
</a>
</div>
{% else %}
{% if canEdit %}
<a href="{{ url('mautic_point_action', {'objectAction': 'edit', 'objectId': item.id}) }}" data-toggle="ajax">
  <span class="fw-sb">{{ item.name }}</span>
  <span class="ml-4 mr-sm">#{{ item.getId() }}</span>
  {{- include('@MauticCore/Helper/publishstatus_badge.html.twig', {
  'entity': item,
  'status': 'active',
  'simplified': 'true'
  }) -}}
</a>
{% else %}
<span class="fw-sb">{{ item.name }}</span>
{% endif %}
<div class="clearfix"></div>
{% endif %}