{% set wrap = true %}

{{ buttonReset(
    constant('Mautic\\CoreBundle\\Twig\\Helper\\ButtonHelper::LOCATION_TOOLBAR_ACTIONS'),
    constant('Mautic\\CoreBundle\\Twig\\Helper\\ButtonHelper::TYPE_GROUP'),
) }}

{{- include('@MauticCore/Helper/action_button_helper.html.twig') -}}
{# Workaround to get variables from action_button_helper here #}
{{ restore('action_button_helper') }}

<div class="panel-heading pa-0">
    <div class="d-flex ai-center list-toolbar">
        {% if searchValue is defined %}
    {{- include('@MauticCore/Helper/search.html.twig', {
        searchId: searchId|default(null),
        searchValue: searchValue,
        action: action|default(''),
        searchHelp: searchHelp|default(''),
        target: target|default(null),
        tmpl: tmpl|default(null),
        overlayDisabled: overlayDisabled is defined ? overlayDisabled : null
    }) -}}
    {% endif %}

    {{ buttonsRender() }}
    {% if list_actions is defined %}
    {{ list_actions|raw }}
    {% endif %}
    </div>
</div>
